body{
	font-family:Calibri, sans-serif;
	font-size:14px;
	width:800px;
	margin:auto;
}

h1, h2, h3, h4, h5, h6{ 
	text-align:center; 
	color: rgb(177, 202, 0); 
	text-shadow: -2em -0.5em 2px #DDDDDD;
}

table{
	width: 100%;
}

input[type="text"]{
	padding: 0.5em;
	color: #333;
	width: 100%;
}

input[type="submit"], .submit_like{
	padding: 0.3em 1em;
	border-radius: 1px;
	background-color: rgba(177, 202, 0, 0.1);
	background-color: #CCCCCC;
	border: 1px gray solid;
	color: black;
	text-decoration: none;
}
input[type="submit"]:focus{
	box-shadow: 0 0 5px rgb(177, 202, 0);
}
input[type="submit"]:active{
	box-shadow: 0 0 10px rgb(177, 202, 0);
}

#operations{
	list-style-type: none;
	padding: 0;
}

.w50{ width: 50%; }
.w25{ width: 25%; }

.fleft{ float: left; }
.fright{ float: right; }

.tacenter{ text-align:center; }

.websocketmsg{ 
	font-family: monospace;
	color: rgb(177, 202, 0); 
	font-weight: bold;
}
.websocketstatus{
	color: gray;
	font-style: italic;
}
.websocketerror{
	color: red;
}
